@import "tailwindcss";

@font-face {
  font-family: "Dancing Script";
  src: url("/font/DancingScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "MChNeobau";
  src: url("/font/MChNeobau-Regular-3394124541.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MChNeobau";
  src: url("/font/MChNeobau-Bold-3394124541.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background: #fff8f8;
  font-family: "MChNeobau", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.font-script {
  font-family: "Dancing Script", cursive;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
